language: node_js
node_js: stable
dist: trusty
sudo: required
addons:
  firefox: latest
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
cache:
  yarn: true
  directories:
    - $HOME/.yarn-cache
before_script: yarn global add polymer-cli
script: xvfb-run polymer test --module-resolution=node --npm

